<!DOCTYPE html>
<html lang="da" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/profile/layout}">
<body>
<section layout:fragment="profile-page-content">
    <div class="posts-grid">
        <div th:if="${#lists.isEmpty(posts)}" class="no-posts">
            <p>No items are available at the moment.</p>
        </div>

        <th:block th:each="post : ${posts}">
            <div th:replace="~{/post/post_fragment :: post}"></div>
        </th:block>
    </div>
</section>
</body>
</html>
