<!DOCTYPE html>
<html lang="da" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout}">
<head>
    <title th:text="#{profile.title}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="profile-column">
        <div class="navigation">
            <nav th:if="${self}">
                <a th:href="@{'/profile/@' + ${profileUser.getUsername()} + '/notifications'}">
                    <svg viewBox="0 0 24 24">
                        <use href="#notificationsIcon" />
                    </svg>
                </a>
                <a th:href="@{'/profile/@' + ${profileUser.getUsername()} + '/settings'}">
                    <svg viewBox="0 0 24 24">
                        <use href="#profileIcon" />
                    </svg>
                </a>
            </nav>
        </div>
        <div class="profile-header">
            <div class="profile-picture">
                <img th:if="${profileUser.getProfilePictureId().isPresent()}" th:src="@{'/profile/@' + ${profileUser.getUsername()} + '/pfp'}" alt="profile picture for someone">
                <svg th:if="${profileUser.getProfilePictureId().isEmpty()}" viewBox="0 0 24 24">
                    <use href="#profileIcon" />
                </svg>
            </div>
            <div class="profile-public-info">
                <h2 class="profile-display-name" th:text="${profileUser.getDisplayName()}"></h2>
                <div class="profile-username">@<span th:text="${profileUser.getUsername()}"></span></div>
                <div class="profile-followers"></div>
                <div class="profile-following"></div>
                <div class="profile-badge" th:text="${profileUser.getUsername()}"></div>
            </div>
        </div>
        <div class="profile-menu">
            <nav>
                <!-- Annoncer? -->
                <a th:href="@{'/profile/@' + ${profileUser.getUsername()} + '/posts'}" th:text="#{profile.menu.postsLabel}"></a>
                <a th:href="@{'/profile/@' + ${profileUser.getUsername()} + '/sales'}" th:text="#{profile.menu.salesLabel}"></a>
                <a th:href="@{'/profile/@' + ${profileUser.getUsername()} + '/orders'}" th:text="#{profile.menu.ordersLabel}"></a>
                <a th:href="@{'/profile/@' + ${profileUser.getUsername()} + '/info'}" th:text="#{profile.menu.infoLabel}"></a>
                <a th:href="@{'/profile/@' + ${profileUser.getUsername()} + '/help'}" th:text="#{profile.menu.helpLabel}"></a>
            </nav>
        </div>
        <div>
            <section layout:fragment="profile-page-content"></section>
        </div>
    </div>
</section>
</body>
</html>
