<!DOCTYPE html>
<html lang="da" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/auth/layout}">
<head>
    <title th:text="#{auth.login.title}"></title>
</head>
<body>
<section layout:fragment="auth-content">
    <h1 th:text="#{auth.login.header}"></h1>
    <form method="post" th:action="@{/login(redirect=${redirect})}">
        <label>
            <span th:text="#{auth.login.emailLabel}"></span>
            <input type="email" name="email" th:value="${email}">
        </label>
        <label>
            <span th:text="#{auth.login.passwordLabel}"></span>
            <input type="password" name="password">
        </label>
        <button type="submit" th:text="#{auth.login.submitLoginLabel}"></button>
    </form>
    <p th:text="${error}"></p>
</section>
</body>
</html>
