<!DOCTYPE html>
<html lang="da" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/auth/layout}">
<head>
    <title th:text="#{auth.register.title}"></title>
</head>
<body>
<section layout:fragment="auth-content">
    <h1 th:text="#{auth.register.header}"></h1>
    <form method="post" th:action="@{/register(redirect=${redirect})}">
        <label>
            <input th:placeholder="#{auth.register.displayNameLabel}" type="text" name="display_name" required>
            <span th:text="#{auth.register.displayNameDescription}"></span>
        </label>
        <label>
            <input th:placeholder="#{auth.register.emailLabel}" type="email" name="email" th:value="${email}" required>
            <span th:text="#{auth.register.emailDescription}"></span>
        </label>
        <label>
            <input th:placeholder="#{auth.register.passwordLabel}" type="password" name="password" required>
            <span th:text="#{auth.register.passwordDescription}"></span>
        </label>
        <button type="submit" th:text="#{auth.register.submitRegistrationLabel}"></button>
    </form>
    <p th:text="${error}"></p>
</section>
</body>
</html>
