<!DOCTYPE html>
<html lang="da">
<body>
<header th:fragment="header" class="app-header">
    <input type="checkbox" id="menuToggle" hidden>
    <label for="menuToggle">
        <svg viewBox="0 0 24 24">
            <use href="#burgerMenu" />
        </svg>
    </label>

    <nav id="nav-menu">
        <!--/*@thymesVar id="categoryTree" type="dk.zealandcs.gilbert.domain.tree.Tree"*/-->
        <th:block th:each="category : ${categoryTree.getRoots()}">
            <details th:unless="${categoryTree.getChildrenNodes(category).isEmpty()}" th:include="/fragments/category_fragment :: category" th:with="category=${category},categories=${categoryTree.getChildrenNodes(category)},categoryTree=${categoryTree}"></details>
            <a th:if="${categoryTree.getChildrenNodes(category).isEmpty()}" th:href="@{/search(categories=${category.getId()})}" th:text="${category.getValue().getName()}"></a>
        </th:block>
    </nav>
</header>
</body>
</html>
