<!DOCTYPE html>
<html lang="da">
<body>
<nav th:fragment="navigation" class="app-navigation">
    <a class="home" href="/">
        <svg viewBox="0 0 24 24">
            <use href="#homeIcon" />
        </svg>
    </a>
    <a class="search" href="/search">
        <svg viewBox="0 0 24 24">
            <use href="#searchIcon" />
        </svg>
    </a>
    <a class="favorites" href="/profile/me/favorites">
        <svg viewBox="0 0 24 24">
            <use href="#favoriteIcon" />
        </svg>
    </a>
    <a class="notifications" href="/profile/me/notifications">
        <svg viewBox="0 0 24 24">
            <use href="#notificationsIcon" />
        </svg>
    </a>
    <a class="profile" href="/profile/me">
        <svg viewBox="0 0 24 24">
            <use href="#profileIcon" />
        </svg>
    </a>
</nav>
</body>
</html>
