* {
    --header-height: 60px;
    --navigation-height: 60px;

    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.app-header {
    height: var(--header-height);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    & a {
        height: 100%;
    }

    & a img {
        height: 100%;
    }
}

.app-navigation {
    position: fixed;
    bottom: 0;

    height: var(--navigation-height);
    width: 100%;

    display: flex;
    flex-direction: row;

    & a {
        height: 100%;
        width: 100%;

        padding: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    & a img {
        height: 100%;
    }
}

.auth-body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    & .auth-container {
        width: 490px;
        height: 600px;
        max-height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }

    & form {
        width: 100%;
        display: flex;
        flex-direction: column;

        gap: 1.2rem;

        & label {
            display: flex;
            flex-direction: column;
        }

        & label input {
            width: 100%;
        }

        & label span {
            margin: 0;
            font-size: 0.7rem;
        }
    }
}