* {
    --header-height: 60px;
    --navigation-height: 60px;

    --primary: #004224;
    --secondary: #423a2b;

    --background: var(--primary);

    --text: #f8f0f5;

    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.outlinedIcon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.filledIcon {
    fill: currentColor;
    stroke: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.app-header {
    height: var(--header-height);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    & a {
        height: 100%;
    }

    & a img {
        height: 100%;
    }
}

.app-navigation {
    position: fixed;
    bottom: 0;

    height: var(--navigation-height);
    width: 100%;

    display: flex;
    flex-direction: row;

    box-shadow: 0 -5px 14px 2px #00000055;

    & a {
        height: 100%;
        width: 100%;

        padding: 16px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--text);
    }

    & a svg {
        height: 100%;
        aspect-ratio: 1;
    }
}

.auth-body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    & .auth-container {
        width: 490px;
        height: 600px;
        max-height: 90%;
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }

    & form {
        width: 100%;
        display: flex;
        flex-direction: column;

        gap: 1.2rem;

        & .field {
            display: flex;
            flex-direction: column;

            &.horizontal {
                flex-direction: row;

                & label {
                    padding-left: 2rem;
                }
            }

            & label {
                display: flex;
                flex-direction: column;
            }

            & input[type="text"], input[type="password"], input[type="email"] {
                width: 100%;
            }

            & input[type="checkbox"] {
                margin: 0;
            }

            & p {
                margin: 0;
            }
        }
    }
}

.profile-column {
    & .navigation {
        height: 3.3rem;
        width: 100%;

        & nav {
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 0.5rem;

            padding: 0.5rem;

            height: 100%;
            width: 100%;
        }
        
        & a {
            text-decoration: none;
            height: 100%;
            color: var(--text);

            padding: 0.3rem;
        }

        & a svg {
            height: 100%;
            aspect-ratio: 1;
        }
    }
}

.profile-header {
    display: flex;
    flex-direction: row;

    height: 8rem;
    width: 100%;

    padding: 1rem;

    & .profile-picture, .profile-picture img {
        height: 100%;
        aspect-ratio: 1;
        border-radius: 500px;
    }

    & .profile-display-name {
        font-size: 1.3rem;
        margin: 0;
    }

    & .profile-username {
        font-size: 0.7rem;
    }
}

& .profile-menu nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 3rem;
    width: 100%;

    background-color: var(--secondary);

    box-shadow: 0 3px 8px 0 #00000055;

    & a {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        color: var(--text);
        text-decoration: none;
    }


}
